---
import ProjectCard from "@components/ProjectCard.astro";
import {default as Link, Variant} from "@components/Link.astro";
import Guides from "@components/Guides.astro";
import {featured, projects} from '@data/projects.json'

const featuredProjects = featured.map(id => projects[id])
---
<section class="relative grid gap-y-8 px-4 max-w-6xl mx-auto pb-40">
    <header class="grid gap-y-6 px-4">
        <h2 class="text-brand font-bold tracking-wide">Code in Action</h2>
        <h1 class="text-theme-200 font-bold text-3xl tracking-tight">Featured Projects</h1>
    </header>
    <ul class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
        {featuredProjects.map(({image, name, description, sourceUrl, demoUrl}) =>
                <li>
                    <ProjectCard
                            image={image}
                            name={name}
                            description={description}
                            sourceUrl={sourceUrl}
                            demoUrl={demoUrl}

                    />
                </li>
        )}
    </ul>
    <div class="px-4">
        <Link href="/projects" variant={Variant.secondary}>Explore all projects</Link>
    </div>
    <Guides end={true}/>
</section>
